.advantage{
    width: 1280px;
    min-height: 439px;
    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
    border-radius: 10px;
    padding: 30px 30px 70px 0px;
    h3{
        margin-top: 22px;
        text-align: center;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 46px;
        text-align: center;
        color: #000000;
    }
    h4{
        margin-bottom: 16px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }
    .advatage-img{
        width: 89px;
        height: 89px;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 52px 0 0 28px;
        list-style-type: none;
        
    }
    li{
        width: 400px;
        min-height: 80px;
        display: flex;
       
    }
    li:nth-child(4),    li:nth-child(5),    li:nth-child(6){
        margin-top: 64px;
    } 
    .info-advantage{
        margin-left: 21px;
    }
    span{
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
    }
    
}

