.widget-hundler{
    width: 100%;
    background: #FFFFFF;
    margin-top: 13px;
    border-radius: 10px;
    padding-bottom: 10px;
    h4{
        width: 300px;
        margin: 0 auto;
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 37px;
        text-align: center;
        color: #313131;
    }
    .address_widjet{ 
         display: block;
        margin: 0 auto; 
        text-align: center;
       
    }
}