.question-answer{
    margin-top: 70px;
    .container{
        width: 1280px;
        margin: 0 auto;
        position: relative;
      }
    .head__question-answer{
        display: flex;
    }
    h3{
        margin-left: 63px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #262C34;
    }
    ul{
        margin-top: 49px;
        list-style-type: none;
    }
    li{
        width: 1128px;
        height: 21px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #262C34;
    }
}