.address-modal{
    width: 800px;
}


.modal-order{
    display: flex;
    justify-content: center;
    position: relative;
    .button__modal-order{
        width: 150px;
        height: 40px;
        margin-top: 10px;
        background-color: #FFB701;
        border-radius: 10px;
        border: none;
        font-family: Ubuntu;
        font-weight: Bold;
        font-size: 18px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
    }

}

h2{
    left: 30px;
    top: 26px;
    color: #262C34;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
span{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 143%;
    color: #898088;
}

.close-modal{
    border: none;
    background: none;
    position: absolute;
    top: 31px;
    right: 35px;
    cursor: pointer
}

form{
    .inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
 
    .first-name, .number{
        background: #FFFFFF;
        border: 1px solid #E2E1F2;
        border-radius: 4px;
        width: 330px;
        height: 40px;
    }
    .submit-btn{
        position: absolute;
        width: 330px;
        height: 40px;
        right: 30px;
        top: 204px;
      
    
        background: #FFB701;
        border-radius: 5px;
    }
    div{
        display: flex;
        flex-direction: column;
        label{
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #283C63;
            margin-top: 20px;
        }
        input{
            padding: 12px;
            margin-top: 5px;
        }
        input::placeholder{
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #828282;
        }
       
    }
}

