.categories{
    display: flex;
    list-style-type: none;
    margin-top: 39px;  

    .container{
        width: 1280px;
        margin: 0 auto;
        position: relative;
      }
    a{
        text-decoration: none;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #9CA7B5;
        margin-left: 4px;
    }
    li, img{
        margin-left: 4px;

    }
 
    h2{
        margin-top: 12px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: #000000;
    }

}

.sort_catalog-pages-head{
    display: flex;
    margin-left: 4px;
    div{
        display: flex;
        margin-top: 18px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
    }
    div:last-child{
        margin-left: 18px;
    }
    img{
        width: 13.86px;
        height: 6.21px;
        margin: 7px 0 0 7px;
    }
}

.categories-name{
    display: flex;
    margin-top: 22px;
    h2:first-child{
        margin-left: 3px;
    }
    h2{
        margin-left: 5px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: #000000;
    }
}

.products{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-top: 49px;
    .product{
        width: 952px;
        height: 269px;
        display: flex;
        margin-top: 16px;
        background: #FFFFFF;
        box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
        border-radius: 10px;
        img{
            width: 250px;
            margin-left: 10px;
            cursor: pointer;
        }
        .about-product{
            margin: 23px 0 0 20px;

            h2{
                width: 490px;
                height: 46px;
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                color: #000000;
                cursor: pointer;
            }
            h2:hover{
               color: #FFB701;
            }
            .text__about-product{
                width: 387px;
                position: relative;
                display: block;
                max-height: 162px;
                margin-top: 16px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                display: block;
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: #313131;
                cursor: pointer;
                div{
                    position: absolute;
                    width: 293px;
                    height: 16px;
                    bottom: 0px;
                    left: 96px;
                    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.9) 53.65%, rgba(255, 255, 255, 0) 100%);
                }
            }
        }
        .panel-product{
            margin: 30px 0 0 0px;
            .price-product{
                width: 200px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 18px;
                    color: #C7C7C7;
                }
                .before-price{
                    margin-top: 10px;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 14px;
                    text-align: left;
                    text-decoration-line: line-through;
                    color: rgba(56, 50, 50, 0.74);
                }
                .after-price{
                    margin-top: 10px;
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 28px;
                    color: #313131;
                }
            }
            
            .added-panel, .count-product{
                display: flex;
                width: 170px;
                justify-content: space-around;
                margin-top: 40px;

                button{
                    background-color: #FFFFFF;
                    border: none;
                }
                img{
                    width: 44px;
                }
            }
            .count-product{
                margin-top: 15px;
                img{
                    width: 38px;
                }
                .count{
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #313131;
                }
            }
            
        
        }

      
    }
}